# Set app path same as link
QPKG_BASE="/share/CACHEDEV1_DATA/.qpkg/icestation"
INSTALLDIR="usr/bin/icestation"

# Web-Dir
WEB_DIR="/share/Web/.config"

# Start-Configuration
ICESSTART="${WEB_DIR}/icestation/icecast.ices.conf"
ICES0CONF="${QPKG_BASE}/root/.icestation/ices0.xml"
ICES2CONF="${QPKG_BASE}/root/.icestation/ices2.xml"

# Icecast-Configuration
ICECASTXML="${QPKG_BASE}/root/.icestation/icecast.xml"

# PID-Files
ICEPID="${QPKG_BASE}/var/log/icecast/icecast.pid"
ICESPID="${QPKG_BASE}/var/log/ices0/ices.pid"

# Scripts
ICESTATIONSCRIPT="${QPKG_BASE}/icestation.sh"
SERVICE="${QPKG_BASE}/icestation_cron.sh"
DEXEC="${QPKG_BASE}/icestation_daemon.sh"
SEXEC="${QPKG_BASE}/icestation_sexec.sh"
ICECAST="${QPKG_BASE}/icecast-ld.sh"
ICES0="${QPKG_BASE}/ices0-ld.sh"
ICES2="${QPKG_BASE}/ices2-ld.sh"

# Web-Files
SIGNAL="${WEB_DIR}/icestation/icecast.signal.txt"
SIGNALRET="${WEB_DIR}/icestation/icecast.signal.ret.txt"
ICESPLAYLIST="${WEB_DIR}/icestation/icecast.playlist.txt"

# Current Play-File
ICESPLAYSELECT="${WEB_DIR}/icestation/icecast.selected.playlist.filename.txt"
