/* Default-Skin ( based on v2.0.0 b1023 ) */
html {
    background-color: #666666;
    padding: 0;
    margin: 0
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* Buttons */
button {
    border: none;
    border-radius: 8px;
    height: 32px;
    min-width: 110px;
    width: auto;
    padding: 0 10px;
    text-align: center;
    color: #FFFFFF;
    background-image: url('../images/default/button_set.png');
    background-repeat: no-repeat;
    background-size: 100% 134px;
    background-position: 0 0;
    background-color: transparent;
    cursor: pointer;
}
button.toggle-blue:hover {
    background-position: 0 -34px;
}
button.toggle-yellow:hover {
    background-position: 0 -68px;
}
button.toggle-red:hover {
    background-position: 0 -102px;
}

/* Table-Container */
.table-container {
    border: 1px solid #000000;
    background-color: #cad1d7;
    color: #1d232b;
    width: 99.2%;
}
/* Default-Design for Big-Tab */
div.big-tab {
    min-width: 250px;
    height: 66px;
    display: inline-block;
    margin-bottom: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('../images/default/bigtab-set.png');
    background-repeat: no-repeat;
    background-size: 100% 205px;
}
div.big-tab:after {
    display: block;
}
div.big-tab-settings {
    background-position: 0 0;
}
div.big-tab-list {
    background-position: 0 -69px;
}
div.big-tab-server {
    background-position: 0 -137px;
}
div.big-tab > span {
    display: inline-block;
    margin-left: 70px;
    margin-top: 15px;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Default-Design for Label-Input-Combination */
div.input-label, div.checkbox-label, div.input-dropdown {
    font-size: 0;
}
div[class*="input-"] > label {
    min-width: 110px;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    color: #000000;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    border-style: solid;
    border-color: #000000;
}
div.left-position > label {
    margin: 8px 0;
    padding: 4px 0 4px 4px;
    background-image: url('../images/default/label_background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-width: 1px 0 1px 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
div.input-label > input[type="text"],
div.input-label > input[type="password"],
div.input-dropdown > select {
    padding: 3px 0 4px 8px;
    background-color: #cad1d7;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #000000;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
}

div.input-label > input[type="text"], div.input-label > input[type="password"] {
    position: relative;
    margin: 8px 0;
}
div.input-label > label {
}
div.checkbox-label > input[type="checkbox"] {
    position: absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}
div.checkbox-label > label {
    margin: 8px 0 8px 8px;
    padding: 4px;
    border-width: 1px;
    border-radius: 3px;
    background-color: #cad1d7;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
}
div.checkbox-label > span.checkbox-image {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    top: 5px;
    position: relative;
    background-image: url('../images/default/checkbox_set.png');
    background-repeat: no-repeat;
    background-position: 0 0;
}
div.checkbox-label > input[type="checkbox"]:checked + span.checkbox-image {
    background-position: 0 -18px;
}
div.input-dropdown > select {
}
div.input-dropdown > select > option  {
    background-color: #8595A3;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
}

div.input-dropdown > label {
}

input[type="text"]:active, input[type="text"]:focus {
    color: #666A84;
    font-weight: bold;
}
.info-tip {
    color: #FFFFFF;
    font-size: 0.9rem;
}

/* */
table {
    margin: 5px;
    width: calc(100% - 10px);
}
table thead{
    background-color: #b3b7bd;
    text-align: center;
}
thead th {
    padding: 2px 10px;
}
tbody td {
    background-color: #bec2c7;
}


.shaddow-base {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
.white-shadow {
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
}

.col-content {
    height: 100%;
    margin: 0 30px;
}

#page-content {
    width: 90%;
    margin: 40px auto 0 auto;
    min-width: 1000px;
    border-radius: 15px;
}

#header {
    position: relative;
    height: 104px;
}
#navbar {
    background-image: url('../images/default/window_menu_background.png');
    background-repeat: repeat-x;
    height: 31px;
    position: relative;
    border-bottom: 3px solid #F77D2D;
}
#content {
    height: 80vh;
    position: relative;
    border-top: 1px solid #FFFFFF;
}
#footer {
    position: relative;
    height: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #FFFFFF;
    font-size: 0.7rem;
}

#header > *, #navbar > *, #content > *, #footer > * {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
}

#header-left {
    background-image: url('../images/default/window_top_left.png');
    border-top-left-radius: 15px;
    width: 15px;
    left: 0;
}
#header-center {
    background-image: url('../images/default/window_top_center.png');
    left: 15px;
    right: 15px;
    background-size: 100% 100%;
}
#header-logo {
    position: absolute;
    left: 150px;
    top: 40%;
}
#header-notes {
    position: absolute;
    right: 150px;
    top: 20%;
}
#logo-topic {
    text-shadow: 0 1px 0 #cccccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbbbbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaaaaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    margin-top: 38px;
    display: inline-block;
    left: 30%;
    right: 30%;
    position: absolute;
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}
#header-right {
    background-image: url('../images/default/window_top_right.png');
    border-top-right-radius: 15px;
    width: 15px;
    right: 0;
}
#stream-url {
    color: #FFFFFF;
    font-size: 0.7rem;
    display: inline-block;
    margin-top: 7px;
    margin-left: 7px;
}
#play-stream {
    display: inline-block;
    text-decoration: none;
    width: 25px;
    height: 22px;
    margin: 0 30px 0 10px;
    top: -5px;
    position: relative;
    background-image: url('../images/default/button_play_set.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}
#play-stream:hover, #play-stream:active, #play-stream:focus {
    background-position: 0 -22px;
}
#navbar-left-border {
    background-image: url('../images/default/window_menu_border_left.png');
    width: 2px;
    left: 0;
}

#navbar-tabs {
    height: 100%;
    font-size: 0;
}
#navbar-tabs > * {
    position: relative;
    display: inline-block;
    height: 100%;
    top: 0;
}
#navbar-tabs > a {
    width: 98px;
    height: 29px;
    font-size: 0.8rem;
    text-align: center;
    top: -8px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: bold;
    padding-top: 9px;
}
#navbar-tabs > a:not([class*="current"]):hover,
#navbar-tabs > a:not([class*="current"]):active,
#navbar-tabs > a:not([class*="current"]):focus {
    background-image: url('../images/default/menu_tab_set.png');
    background-repeat: no-repeat;
    background-position: -2px 0;
}
#navbar-tabs > [class*="current"] {
    background-image: url('../images/default/menu_tab_set.png');
    background-repeat: no-repeat;
    background-position: -2px -31px;
}

#start-space {
    width: 75px;
}
.header-tab-seperator {
    background-image: url('../images/default/window_menu_tabseperator.png');
    width: 8px;
}

#navbar-right {
    background-image: url('../images/default/window_menu_right_background.png');
    min-width: 194px;
    width: auto;
    right: 0;
}
#navbar-right-left-border {
    position: absolute;
    top: 0;
    left: 0;
}
#navbar-right-right-border {
    position: absolute;
    top: 0;
    right: 0;
}

#content-border-left {
    background-image: url('../images/default/window_menu_border_left.png');
    background-repeat: repeat-y;
    width: 2px;
    left: 0;
}
#content-center {
    background-image: linear-gradient(to left, #222730 0%,#424a4f 100%),
                      linear-gradient(to bottom, rgba(55,65,80,0) 0%,rgba(55,65,80,0.62) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    left: 2px;
    right: 2px;
}
#content-border-right {
    background-image: url('../images/default/window_menu_border_right.png');
    background-repeat: repeat-y;
    width: 2px;
    right: 0;
}
#footer-left-block {
    background-image: url('../images/default/window_bottom_left.png');
    border-bottom-left-radius: 15px;
    left: 0;
    width: 202px;
    text-align: center;
}
#footer-content-block {
    background-image: url('../images/default/window_bottom_center.png');
    background-repeat: repeat-x;
    left: 202px;
    right: 114px;
}
#footer-right-block {
    background-image: url('../images/default/window_bottom_right.png');
    border-bottom-right-radius: 15px;
    right: 0;
    width: 114px;
    text-align: center;
}

#footer-left-block > span,
#footer-content-block > span,
#footer-right-block > span {
    margin-top: 7px;
    display: inline-block;
}
#footer-content-block > span {
    padding-left: 30px;
}

/* 2-Col-Definitions */
#two-col-block {
    width: 100%;
    height: 100%;
    position: relative;
}
#two-col-block > * {
    position: absolute;
    display: inline-block;
    height: 100%;
    top: 0;
}
#left-col, #right-col {
    width: 49.5%;
}
#left-col {
    left: 0;
}
#vertical-separator {
    background-image: url('../images/default/two-col-seperator.png');
    background-repeat: repeat-y;
    width: 14px;
    left: 49.5%;
}
#right-col {
    right: 0;
}

/* Default-Block-Elements */
.block-horizontal-spacer {
    margin-bottom: 20px;
    position: relative;
}
.save-button {
    position: absolute;
    right: 36px;
}

.input-description, .input-long, .checkbox-label {
    display: block;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    font-size: 0;
}
.input-description > * {
    display: inline-block;
    vertical-align: top;
}
.input-description label {
    width: 80px;
}
.input-description input[type="text"] {
    width: 142px;
}
.input-description .info-tip {
    max-width: 74%;
    padding-left: 20px;
    width: calc(100% - 290px);
}
.input-long {
    margin-bottom: 0;
}
.input-long input[type="text"] {
    width: calc(100% - 130px);
}
#ices0-tip {
    padding-left: 5px;
}

.checkbox-description {
    margin-bottom: 0;
}

/* Main-Settings */
#config-setting-ices0 {
    display: inline-block;
    vertical-align: top;
    width: 265px;
}
#config-setting-ices0 label {
    width: 200px;
}
#config-setting-ices0-info {
    display: inline-block;
    width: calc(100% - 290px);
    margin-left: 17px;
}
#config-setting-ices0-recode {
    font-size: 0;
}
#config-setting-ices0-recode > span {
    display: block;
}
#config-setting-ices0-recode > div {
    display: inline-block;
    width: 30%;
}
#config-setting-ices0-recode label {
   width: 80px;
}
#config-setting-ices0-recode input {
    width: 112px;
}
label#recode-label {
    width: 200px;
}
#server-save-settings > button {
    display: inline-block;
}

#new-server-selections > * {
    display: inline-block;
    width: 33%;
}
#new-server-selections label {
    width: 150px;
}

#relay-list {
    height: 25vh;
}
#relay-table tbody td:first-child,
#relay-table tbody td:nth-child(6),
#relay-table tbody td:nth-child(7) {
    text-align: center;
}

#icestation-config label {
    width: 150px;
}
#icestation-config input, #icestation-config select {
    width: calc(50% - 150px);
}

#playlist-jump-next {
    position: absolute;
    top: 33px;
    right: 36px;
}
#playlist-directory {
    margin-top: 20px;
    height: 65vh;
}
#playlist-directory > div {
    margin-left: 7px;
    width: 99.3%;
}
#directory-table th {
    text-align: left;
}
