<div class="col-content">
    <div class="big-tab big-tab-server">
        <span><lang configuration_bigtab_relayserver /></span>
    </div>
    <div class="block-horizontal-spacer">
        <div class="input-label left-position input-long">
            <label for="new-server-name"><lang configuration_label_new_server_name /></label>
            <input type="text" name="new_server_name" id="new-server-name" value="" placeholder="<lang configuration_placeholder_address />" />
        </div>
        <div class="input-label left-position input-long">
            <label for="new-server-port"><lang configuration_label_new_server_port /></label>
            <input type="text" name="new_server_port" id="new-server-port" value="" placeholder="<lang configuration_placeholder_port />" />
        </div>
        <div class="input-label left-position input-long">
            <label for="new-server-mount"><lang configuration_label_new_server_mount /></label>
            <input type="text" name="new_server_mount" id="new-server-mount" value="" placeholder="<lang configuration_placeholder_mount />"/>
        </div>
        <div id="new-server-selections">
            <div class="checkbox-label checkbox-description">
                <input type="checkbox" name="on_demand" id="on-demand" value="1" <var on_demand /> />
                <span id="img-on-demand" class="checkbox-image"></span>
                <label for="on-demand" id="on-demand-label"><lang configuration_label_on_demand /></label>
            </div>
            <div class="checkbox-label checkbox-description">
                <input type="checkbox" name="meta_data" id="meta-data" value="1" <var meta_data /> />
                <span id="img-meta-data" class="checkbox-image"></span>
                <label for="meta-data" id="meta-data-label"><lang configuration_label_meta_data /></label>
            </div>
            <div>
                <button class="toggle-blue" onclick="addNewRelayServer()"><lang configuration_button_add_new_server /></button>
            </div>
        </div>
    </div>

    <div id="relay-list" class="white-shadow block-horizontal-spacer">
        <script type="text/javascript" src="<var_config baseurl />/skin/js/relayserver.js"></script>
        <table id="relay-table">
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th title="<lang configuration_relay_table_delete_title />"><lang configuration_relay_table_delete /></th>
                    <th title="<lang configuration_relay_table_adress_title />"><lang configuration_relay_table_adress /></th>
                    <th title="<lang configuration_relay_table_port_title />"><lang configuration_relay_table_port /></th>
                    <th title="<lang configuration_relay_table_mount_path_title />"><lang configuration_relay_table_mount_path /></th>
                    <th title="<lang configuration_relay_table_local_path_title />"><lang configuration_relay_table_local_path /></th>
                    <th title="<lang configuration_relay_table_on_demand_title />"><lang configuration_relay_table_on_demand /></th>
                    <th title="<lang configuration_relay_table_meta_title />"><lang configuration_relay_table_meta /></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <div class="block-horizontal-spacer">
        <div class="info-tip">
            <lang configuration_tip_restart_server_1 />
        </div>
        <div class="info-tip">
            <lang configuration_tip_restart_server_2 />
        </div>
    </div>
</div>