<div class="col-content">
    <img src="<var_config baseurl />/skin/images/default/bigtab-main-settings.png" class="big-tabs" />
    <div class="input-description">
        <label for="icecast_port"><lang configuration_label_icecast_port /></label>
        <input type="text" name="icecast_port" id="icecast-port" value="<var_icecast port />" />
        <span class="info-tip">
            <lang configuration_tip_port />
        </span>
    </div>
    <div class="input-description">
        <label for="icecast_password"><lang configuration_label_icecast_password /></label>
        <input type="text" name="icecast_password" id="icecast-password" value="<var_icecast password />" />
        <span class="info-tip">
            <lang configuration_tip_password />
        </span>
    </div>

    <div class="info-tip" id="ices0-tip">
        <lang configuration_title_server_descr />
    </div>
    <div class="input-long">
        <label for="ices0_name"><lang configuration_label_ices0_name /></label>
        <input type="text" name="ices0_name" id="ices0-name" value="<var_ices0 name />" />
    </div>
    <div class="input-long">
        <label for="ices0_genre"><lang configuration_label_ices0_genre /></label>
        <input type="text" name="ices0_genre" id="ices0-genre" value="<var_ices0 genre />" />
    </div>
    <div class="input-long">
        <label for="ices0_descr"><lang configuration_label_ices0_descr /></label>
        <input type="text" name="ices0_descr" id="ices0-descr" value="<var_ices0 desc />" />
    </div>
    <div class="input-long">
        <label for="ices0_url"><lang configuration_label_ices0_url /></label>
        <input type="text" name="ices0_url" id="ices0-url" value="<var_ices0 url />" />
    </div>
</div>