<div class="col-content">
    <img src="<var_config baseurl />/skin/images/default/bigtab-main-settings.png" class="big-tabs" />
    <div class="input-description">
        <label for="icecast_port"><lang configuration_label_icecast_port /></label>
        <input type="text" name="icecast_port" id="icecast-port" value="<var_icecast port />" />
        <span class="info-tip">
            <lang configuration_tip_port />
        </span>
    </div>
    <div class="input-description">
        <label for="icecast_password"><lang configuration_label_icecast_password /></label>
        <input type="text" name="icecast_password" id="icecast-password" value="<var_icecast password />" />
        <span class="info-tip">
            <lang configuration_tip_password />
        </span>
    </div>
</div>