<div class="col-content">
    <script type="text/javascript" src="<var_config baseurl />/skin/js/serversettings.js"></script>
    <div class="big-tab big-tab-settings">
        <span><lang configuration_bigtab_configuration /></span>
    </div>
    <div id="config-setting-icecast" class="block-horizontal-spacer">
        <div class="input-label left-position input-description">
            <label for="icecast-port"><lang configuration_label_icecast_port /></label>
            <input type="text" name="icecast_port" id="icecast-port" value="<var icecast_port />" />
            <span class="info-tip">
                <lang configuration_tip_port />
            </span>
        </div>
        <div class="input-label left-position input-description">
            <label for="icecast-password"><lang configuration_label_icecast_password /></label>
            <input type="password" name="icecast_password" id="icecast-password" value="<var icecast_password />" />
            <span class="info-tip">
                <lang configuration_tip_password />
            </span>
        </div>
    </div>

    <div id="config-setting-ices0" class="block-horizontal-spacer">
        <div class="checkbox-label checkbox-description">
            <input type="checkbox" name="restart_ices0" id="restart-ices0" value="1" <var ices0_restart /> />
            <span id="img-restart-ices0" class="checkbox-image"></span>
            <label for="restart-ices0"><lang configuration_label_ices0_start /></label>
        </div>
        <div class="checkbox-label checkbox-description">
            <input type="checkbox" name="random_ices0" id="random-ices0" value="1" <var ices0_random /> />
            <span id="img-random-ices0" class="checkbox-image"></span>
            <label for="random-ices0"><lang configuration_label_ices0_random /></label>
        </div>
    </div>
    <div id="config-setting-ices0-info" class="block-horizontal-spacer info-tip">
        <lang configuration_tip_ices0 />
    </div>

    <div class="block-horizontal-spacer">
        <div class="info-tip" id="ices0-tip">
            <lang configuration_title_server_descr />
        </div>
        <div class="input-label left-position input-long">
            <label for="ices0-name"><lang configuration_label_ices0_name /></label>
            <input type="text" name="ices0_name" id="ices0-name" value="<var ices0_name />" />
        </div>
        <div class="input-label left-position input-long">
            <label for="ices0-genre"><lang configuration_label_ices0_genre /></label>
            <input type="text" name="ices0_genre" id="ices0-genre" value="<var ices0_genre />" />
        </div>
        <div class="input-label left-position input-long">
            <label for="ices0-descr"><lang configuration_label_ices0_descr /></label>
            <input type="text" name="ices0_descr" id="ices0-descr" value="<var ices0_desc />" />
        </div>
        <div class="input-label left-position input-long">
            <label for="ices0-url"><lang configuration_label_ices0_url /></label>
            <input type="text" name="ices0_url" id="ices0-url" value="<var ices0_url />" />
        </div>
    </div>

    <div class="block-horizontal-spacer">
        <div class="checkbox-label checkbox-description">
            <input type="checkbox" name="shoutcast_public" id="shoutcast-public" value="1" <var shoutcast_public /> />
            <span id="img-shoutcast-public" class="checkbox-image"></span>
            <label for="shoutcast-public"><lang configuration_label_shoutcast_public /></label>
        </div>
    </div>
    <div id="config-setting-ices0-recode" class="block-horizontal-spacer">
        <span class="info-tip">
            <lang configuration_tip_reencode />
        </span>
        <div class="checkbox-label checkbox-description">
            <input type="checkbox" name="enable_recode" id="enable-recode" value="1" <var enable_recode /> />
            <span id="img-enable-recode" class="checkbox-image"></span>
            <label for="enable-recode" id="recode-label"><lang configuration_label_enable_recode /></label>
        </div>
        <div class="input-label left-position">
            <label for="ices0-bitrate"><lang configuration_label_ices0_bitrate /></label>
            <input type="text" name="ices0_bitrate" id="ices0-bitrate" value="<var ices0_bitrate />" />
        </div>
        <div class="input-label left-position">
            <label for="ices0-channels"><lang configuration_label_ices0_channels /></label>
            <input type="text" name="ices0_channels" id="ices0-channels" value="<var ices0_channels />" />
        </div>
    </div>

    <div id="server-save-settings" class="block-horizontal-spacer save-button">
        <button class="toggle-red" onclick="saveServerSettings()"><lang configuration_button_save_server_settings /></button>
    </div>
</div>