<div id="navbar-tabs">
    <div id="start-space"></div>
    <a href="<var header_url_home />" id="header-tab-home<var header_home_status />" class="header-image<var header_home_status />"><lang navbar_configuration /></a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_icestation />" id="header-tab-icestation<var header_icestation_status />" class="header-image<var header_icestation_status />"><lang navbar_icestation /></a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_playlist />" id="header-tab-playlist<var header_playlist_status />" class="header-image<var header_playlist_status />"><lang navbar_playlist /></a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_main_log />" id="header-tab-mainlog<var header_mainlog_status />" class="header-image<var header_mainlog_status />"><lang navbar_mainlog /></a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_ices0_log />" id="header-tab-ices0log<var header_ices0log_status />" class="header-image<var header_ices0log_status />"><lang navbar_iceslog /></a>
</div>