<div id="navbar-tabs">
    <div id="start-space"></div>
    <a href="<var header_url_home />" id="header-tab-home<var header_home_status />">&nbsp;</a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_playlist />" id="header-tab-playlist<var header_playlist_status />">&nbsp;</a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_main_log />" id="header-tab-mainlog<var header_mainlog_status />">&nbsp;</a>
    <span class="header-tab-seperator"></span>
    <a href="<var header_url_ices0_log />" id="header-tab-ices0log<var header_ices0log_status />">&nbsp;</a>
</div>