<!DOCTYPE HTML>
<html>
    <head>
        <title>QNAP IceStation 2.4</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="robots" content="noindex, nofollow, noarchive" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />

        <link href="<var_config baseurl />/skin/favicon.ico" type="image/ico" rel="shortcut icon" />
        <link href="<var_config baseurl />/skin/favicon.ico" type="image/ico" rel="icon" />

        <link rel="stylesheet" type="text/css" href="<var_config baseurl />/skin/css/base.css"  media="screen" />
        <link rel="stylesheet" type="text/css" href="<var_config baseurl />/skin/css/<var_user_config skin />.css" media="screen" />

        <script type="text/javascript" src="<var_config baseurl />/skin/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="<var_config baseurl />/skin/js/icestation.js"></script>

        <script type="text/javascript">
            var baseurl = '<var_config baseurl />';
            var protokoll = '<var_config protocol />';
            var station_host = '<var_config host />';
            var station_server = '<var_config server_name />';
            var station_port = '<var_config server_port />';
            var skin = '<var_user_config skin />';
            var str_ajax_failed = '<lang global_ajax_failed />';
            var str_ajax_success = '<lang global_ajax_success />';
            var str_status_yes = '<lang global_status_yes />';
            var str_status_no = '<lang global_status_no />';
            var str_relay_title_delete = '<lang configuration_relay_title_delete />';
        </script>

        <base href="<var_config baseurl />" />
    </head>
    <body>
        <div id="page-content" class="shaddow-base">
            <div id="header">
                <div id="header-left"></div>
                <div id="header-center">
                    <img src="<var_config baseurl />/skin/images/qnap_logo.png" id="header-logo" />
                    <img src="<var_config baseurl />/skin/images/notes.png" id="header-notes" />
                    <span id="logo-topic">Ice Station</span>
                </div>
                <div id="header-right"></div>
            </div>
            <div id="navbar">
                <div id="navbar-left-border"></div>
                <var navbar />
                <div id="navbar-right">
                    <img src="<var_config baseurl />/skin/images/default/window_menu_right_left_border.png" id="navbar-right-left-border" />
                    <span id="stream-url">
                        <var_config server_name />:<var_icecast port />
                    </span>
                    <a href="http://<var ices0_url />:<var_icecast port /><var_icecast mount />" title="<lang configuration_tip_start_stream />" id="play-stream">&nbsp;</a>
                    <img src="<var_config baseurl />/skin/images/default/window_menu_right_right_border.png" id="navbar-right-right-border" />
                </div>
            </div>
            <div id="content">
                <div id="content-border-left"></div>
                <div id="content-center">
                    <var page_content />
                </div>
                <div id="content-border-right"></div>
            </div>
            <div id="footer">
                <div id="footer-left-block">
                    <span>&#9400; Mariusz Grzybacz ^SiLAS</span>
                </div>
                <div id="footer-content-block">
                    <span>&#9400; re-design for x64 by Cerberus (2019)</span>
                </div>
                <div id="footer-right-block">
                    <span>v2.4.3-3 b01</span>
                </div>
            </div>
        </div>
        <var before_finished />
    </body>
</html>