<!DOCTYPE HTML>
<html>
    <head>
        <title>QNAP IceStation 2.4</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="300" />
        <meta http-equiv="cache-control" content="private" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="robots" content="noindex, nofollow, noarchive" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />

        <link href="/favicon.ico" type="image/ico" rel="shortcut icon" />
        <link href="/favicon.ico" type="image/ico" rel="icon" />

        <link rel="stylesheet" type="text/css" href="<var_config baseurl />/skin/css/base.css"  media="screen" />
        <link rel="stylesheet" type="text/css" href="<var_config baseurl />/skin/css/<var_user_config skin />.css" media="screen" />

        <script type="text/javascript" src="</>"></script>

        <script type="text/javascript">
            var baseurl = '<var_config baseurl />';
        </script>

        <base href="<var_config baseurl />" />
    </head>
    <body>
        <div id="page-content" class="shaddow-base">
            <div id="header">
                <div id="header-left"></div>
                <div id="header-center">
                    <img src="<var_config baseurl />/skin/images/qnap_logo.png" id="header-logo" />
                    <img src="<var_config baseurl />/skin/images/notes.png" id="header-notes" />
                    <span id="logo-topic">Ice Station</span>
                </div>
                <div id="header-right"></div>
            </div>
            <div id="navbar">
                <div id="navbar-left-border"></div>
                <div id="navbar-right"></div>
            </div>
            <div id="content">
                <div id="content-border-left"></div>

                <div id="content-border-right"></div>
            </div>
            <div id="footer">
                <div id="footer-left-block"></div>
                <div id="footer-content-block"></div>
                <div id="footer-right-block"></div>
            </div>
        </div>
        <var before_finished />
    </body>
</html>