                <tr>
                    <td>
                        <span class="playlist-inline-symbol playlist-add" onclick="addToPlaylist('')" title="<lang playlist_add_item_to_playlist />"></span>
                    </td>
                    <td title="<var lang_playlist_<var file_type />_info />">
                        <span class="playlist-inline-symbol playlist-type-<var file_type />"></span>
                        <span class="playlist-filename" onclick="openDirectory('<var file_name />')"><var file_name /></span>
                    </td>
                </tr>